In [30]:
import pandas as pd
import numpy as np
from pprint import pprint
from datetime import datetime

In [31]:
file_name = "uc-assignment-slots.csv"

In [32]:
df = pd.read_csv(file_name)

In [33]:
df.head()

,record_id,city_key,event_time,weekday,category_key,rptcatg,req_id,session_group
0,5c1699b0c3658c25008e1192,city_chennai_v2,2018-12-17 00:00:08,weekday,professional_bathroom_cleaning,Cleaning - Other,5c1699d714bd522300fae954,3022
1,5c1699b72dd2b92500f5f400,city_mumbai_v2,2018-12-17 00:00:15,weekday,electricians,EPC,5c1699ed70fa4f2500d66e7c,3303
2,5c1699df4fb96a2400166132,city_mumbai_v2,2018-12-17 00:00:55,weekday,salon_at_home,Salon at Home,NaN,3330
3,5c1699f405cbce26002ff832,city_kolkata_v2,2018-12-17 00:01:16,weekday,salon_at_home,Salon at Home,NaN,3330
4,5c1699fb02f88224006901f5,city_chennai_v2,2018-12-17 00:01:23,weekday,plumbers,EPC,5c169a6c8c954c2200693538,3303

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816530 entries, 0 to 816529
Data columns (total 8 columns):
record_id        816530 non-null object
city_key         816530 non-null object
event_time       816530 non-null object
weekday          816530 non-null object
category_key     816530 non-null object
rptcatg          816530 non-null object
req_id           372418 non-null object
session_group    816530 non-null int64
dtypes: int64(1), object(7)
memory usage: 49.8+ MB

In [35]:
df['weekday'].value_counts()

weekday     424844
saturday    144725
sunday      132768
friday      114193
Name: weekday, dtype: int64

In [36]:
print(df['category_key'].value_counts())
print(len(df['category_key'].unique()))

salon_at_home                     363928
massage_for_men                    68166
plumbers                           60058
carpenters                         56339
spa_at_home                        53165
electricians                       48088
professional_bathroom_cleaning     39269
washing_machine_repair             21066
professional_sofa_cleaning         20427
professional_home_cleaning         18430
ro_repair                          13315
ac_service_repair                  11459
pest_control                       11431
refrigerator_repair                10778
microwave_repair                    7303
car_cleaning                        4798
professional_kitchen_cleaning       4188
mens_grooming                       2378
professional_carpet_cleaning        1944
Name: category_key, dtype: int64
19

In [37]:
print(df['rptcatg'].value_counts())
print(len(df['rptcatg'].unique()))

Salon at Home         363928
EPC                   164485
Cleaning - Other       70626
Massage for Men        68166
Appliance Repair       63921
Spa for Women          53165
Full Home Cleaning     18430
Pest Control           11431
Mens Grooming           2378
Name: rptcatg, dtype: int64
9

In [38]:
print(df['city_key'].value_counts())
print(len(df['city_key'].unique()))

city_delhi_v2         192601
city_mumbai_v2        157870
city_bangalore_v2     135166
city_hyderabad_v2     108916
city_pune_v2           83633
city_kolkata_v2        51411
city_chennai_v2        47946
city_ahmedabad_v2      31887
city_chandigarh_v2      3659
city_jaipur_v2          3441
Name: city_key, dtype: int64
10

# Create target labels

In [39]:
df['target'] = df['req_id'].apply(lambda x: 1 if not pd.isnull(x) else 0)

# Convert string in *event_time* column to datetime object

In [40]:
df['event_time'] = pd.to_datetime(df['event_time'], format="%Y-%m-%d %H:%M:%S")
#df['event_time1'] = df['event_time'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))

# Get count of different values of session_group column

In [41]:
pprint(df['session_group'].value_counts().to_dict())
print(len(df['session_group'].unique()))

{0: 13,
 1: 623,
 2: 2175,
 3: 3736,
 10: 461,
 11: 96,
 12: 619,
 13: 2009,
 20: 3576,
 21: 84,
 22: 4392,
 23: 17758,
 30: 8605,
 31: 17,
 32: 313,
 33: 142513,
 1000: 9,
 1001: 380,
 1002: 1350,
 1003: 2140,
 1010: 152,
 1011: 40,
 1012: 245,
 1013: 933,
 1020: 1006,
 1021: 62,
 1022: 3714,
 1023: 3398,
 1030: 2825,
 1031: 8,
 1032: 163,
 1033: 41041,
 1100: 74,
 1101: 5,
 1102: 64,
 1103: 170,
 1110: 28,
 1111: 5,
 1112: 10,
 1113: 104,
 1120: 98,
 1121: 6,
 1122: 40,
 1123: 731,
 1130: 3511,
 1131: 4,
 1132: 64,
 1133: 58244,
 2000: 4,
 2001: 443,
 2002: 2321,
 2003: 3633,
 2010: 257,
 2011: 34,
 2012: 267,
 2013: 1370,
 2020: 1212,
 2021: 27,
 2022: 4453,
 2023: 4803,
 2030: 1961,
 2031: 2,
 2032: 143,
 2033: 21386,
 2100: 92,
 2101: 12,
 2102: 114,
 2103: 274,
 2110: 23,
 2111: 2,
 2112: 32,
 2113: 138,
 2120: 309,
 2121: 15,
 2122: 1509,
 2123: 884,
 2130: 1330,
 2131: 4,
 2132: 45,
 2133: 16462,
 2200: 112,
 2201: 11,
 2202: 124,
 2203: 453,
 2210: 17,
 2211: 10,
 2212: 39,
 2213: 236,
 2220: 332,
 2221: 8,
 2222: 1540,
 2223: 1490,
 2230: 13137,
 2231: 2,
 2232: 230,
 2233: 256375,
 3000: 1,
 3001: 85,
 3002: 701,
 3003: 2460,
 3010: 102,
 3011: 9,
 3012: 68,
 3013: 498,
 3020: 302,
 3021: 9,
 3022: 391,
 3023: 1790,
 3030: 775,
 3032: 58,
 3033: 3902,
 3100: 25,
 3101: 11,
 3102: 32,
 3103: 188,
 3110: 7,
 3111: 1,
 3112: 17,
 3113: 97,
 3120: 35,
 3121: 3,
 3122: 313,
 3123: 336,
 3130: 273,
 3131: 1,
 3132: 24,
 3133: 2620,
 3200: 56,
 3201: 7,
 3202: 67,
 3203: 215,
 3210: 6,
 3212: 22,
 3213: 84,
 3220: 531,
 3221: 5,
 3222: 2536,
 3223: 584,
 3230: 3003,
 3231: 3,
 3232: 71,
 3233: 31184,
 3300: 19,
 3302: 4,
 3303: 315,
 3310: 1,
 3313: 32,
 3320: 5,
 3322: 8,
 3323: 188,
 3330: 8171,
 3331: 2,
 3332: 71,
 3333: 108915}
154

In [43]:
str(0).ljust(4, '0')

'0000'

# Creating separate columns for slots provided for each day

In [44]:
df['session_group_formatted'] = df['session_group'].apply(lambda x: str(x).ljust(4, '0'))
df['day0_slot_type'] = df['session_group_formatted'].apply(lambda x: x[1])
df['day1_slot_type'] = df['session_group_formatted'].apply(lambda x: x[2])
df['day2_slot_type'] = df['session_group_formatted'].apply(lambda x: x[3])

In [45]:
df.head()

,record_id,city_key,event_time,weekday,category_key,rptcatg,req_id,session_group,target,session_group_formatted,day0_slot_type,day1_slot_type,day2_slot_type
0,5c1699b0c3658c25008e1192,city_chennai_v2,2018-12-17 00:00:08,weekday,professional_bathroom_cleaning,Cleaning - Other,5c1699d714bd522300fae954,3022,1,3022,0,2,2
1,5c1699b72dd2b92500f5f400,city_mumbai_v2,2018-12-17 00:00:15,weekday,electricians,EPC,5c1699ed70fa4f2500d66e7c,3303,1,3303,3,0,3
2,5c1699df4fb96a2400166132,city_mumbai_v2,2018-12-17 00:00:55,weekday,salon_at_home,Salon at Home,NaN,3330,0,3330,3,3,0
3,5c1699f405cbce26002ff832,city_kolkata_v2,2018-12-17 00:01:16,weekday,salon_at_home,Salon at Home,NaN,3330,0,3330,3,3,0
4,5c1699fb02f88224006901f5,city_chennai_v2,2018-12-17 00:01:23,weekday,plumbers,EPC,5c169a6c8c954c2200693538,3303,1,3303,3,0,3

# One-Hot encode the follwoing columns
    - Weekday
    - city_key
    - rptcatg (super-category)
    - Slots shown for day0, day1 & day2

In [46]:
onehot_day0 = pd.get_dummies(df['day0_slot_type'], prefix='day0_slot_type', prefix_sep='_')
onehot_day1 = pd.get_dummies(df['day1_slot_type'], prefix='day1_slot_type', prefix_sep='_')
onehot_day2 = pd.get_dummies(df['day2_slot_type'], prefix='day2_slot_type', prefix_sep='_')

In [47]:
onehot_weekday = pd.get_dummies(df['weekday'], prefix='day',  prefix_sep='_')
onehot_city = pd.get_dummies(df['city_key'])
onehot_supercat = pd.get_dummies(df['rptcatg'])

In [ ]:
df.columns

# Create new data frame concatinating one-hot variables from above

In [84]:
expanded_df = df[['event_time', 'target']]

In [85]:
# expanded_df = expanded_df.join([onehot_day0, onehot_day1, onehot_day2, onehot_weekday, onehot_supercat, onehot_city])
expanded_df = expanded_df.join([onehot_day0, onehot_day1, onehot_day2, onehot_weekday, onehot_supercat])

In [86]:
len(expanded_df.columns)

27

# Creating Training and Test dataset

In [87]:
train_start_date = '12-17-2018'
train_end_date = '01-14-2019'

In [88]:
train_mask = (expanded_df['event_time'] >= train_start_date) & (expanded_df['event_time'] < train_end_date)

In [89]:
train_df = expanded_df.loc[train_mask]

In [90]:
train_df.shape

(644448, 27)

In [91]:
test_start_date = '01-14-2019'
test_end_date = '01-21-2019'

test_mask = (expanded_df['event_time'] >= test_start_date) & (expanded_df['event_time'] < test_end_date)
test_df = expanded_df.loc[test_mask]
test_df.shape

(172082, 27)

In [92]:
train_Y = train_df['target']
train_X = train_df.drop(['target', 'event_time'], axis=1)

In [93]:
test_y = test_df['target']
test_x = test_df.drop(['target', 'event_time'], axis=1)

In [94]:
test_x.shape, train_X.shape

((172082, 25), (644448, 25))

In [95]:
test_y.shape, train_Y.shape

((172082,), (644448,))

# Try out different classifier from sklearn

In [110]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

In [108]:
lr_clf = LogisticRegression()
lr_clf.fit(train_X, train_Y)
print(lr_clf.score(train_X, train_Y))
print(lr_clf.score(test_x, test_y))

/Users/anuragsharma/.virtualenvs/data-science/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.5876967575351308
0.5802175706930417

In [109]:
dt_clf = DecisionTreeClassifier()
dt_clf.fit(train_X, train_Y)
print(dt_clf.score(train_X, train_Y))
print(dt_clf.score(test_x, test_y))

0.5904122597944287
0.5760741971850629

In [111]:
nb_clf = GaussianNB()
nb_clf.fit(train_X, train_Y)
print(nb_clf.score(train_X, train_Y))
print(nb_clf.score(test_x, test_y))

0.5370223819454789
0.5375925430899222

# Take Neural Network approach to see if the accuracy score improves

In [115]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.regularizers import l2

In [127]:
model = Sequential()

model.add(Dense(32, activation='relu', input_dim=train_X.shape[1]))
model.add(Dropout(0.25))

model.add(Dense(16, activation='relu'))
model.add(Dropout(0.25))

model.add(Dense(8, activation='relu'))
model.add(Dropout(0.25))

model.add(Dense(1, activation='sigmoid'))

In [128]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [129]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 32)                832
_________________________________________________________________
dropout_5 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_8 (Dense)              (None, 16)                528
_________________________________________________________________
dropout_6 (Dropout)          (None, 16)                0
_________________________________________________________________
dense_9 (Dense)              (None, 8)                 136
_________________________________________________________________
dropout_7 (Dropout)          (None, 8)                 0
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 9
=================================================================
Total params: 1,505
Trainable params: 1,505
Non-trainable params: 0
_________________________________________________________________

In [130]:
model_output = model.fit(train_X, train_Y, epochs=50, batch_size=128, 
                         verbose=True, validation_data=(test_x, test_y))

Train on 644448 samples, validate on 172082 samples
Epoch 1/50
644448/644448 [==============================] - 14s 22us/step - loss: 0.6708 - acc: 0.5781 - val_loss: 0.6707 - val_acc: 0.5818
Epoch 2/50
644448/644448 [==============================] - 12s 18us/step - loss: 0.6677 - acc: 0.5846 - val_loss: 0.6727 - val_acc: 0.5821
Epoch 3/50
644448/644448 [==============================] - 12s 18us/step - loss: 0.6675 - acc: 0.5848 - val_loss: 0.6713 - val_acc: 0.5806
Epoch 4/50
644448/644448 [==============================] - 10s 16us/step - loss: 0.6671 - acc: 0.5851 - val_loss: 0.6708 - val_acc: 0.5821
Epoch 5/50
644448/644448 [==============================] - 10s 16us/step - loss: 0.6670 - acc: 0.5856 - val_loss: 0.6704 - val_acc: 0.5829
Epoch 6/50
644448/644448 [==============================] - 10s 16us/step - loss: 0.6667 - acc: 0.5858 - val_loss: 0.6707 - val_acc: 0.5831
Epoch 7/50
644448/644448 [==============================] - 10s 15us/step - loss: 0.6667 - acc: 0.5858 - val_loss: 0.6699 - val_acc: 0.5823
Epoch 8/50
644448/644448 [==============================] - 11s 16us/step - loss: 0.6665 - acc: 0.5861 - val_loss: 0.6707 - val_acc: 0.5816
Epoch 9/50
644448/644448 [==============================] - 10s 15us/step - loss: 0.6665 - acc: 0.5852 - val_loss: 0.6711 - val_acc: 0.5790
Epoch 10/50
644448/644448 [==============================] - 10s 15us/step - loss: 0.6664 - acc: 0.5858 - val_loss: 0.6703 - val_acc: 0.5784
Epoch 11/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6664 - acc: 0.5858 - val_loss: 0.6708 - val_acc: 0.5776
Epoch 12/50
644448/644448 [==============================] - 12s 19us/step - loss: 0.6663 - acc: 0.5862 - val_loss: 0.6715 - val_acc: 0.5779
Epoch 13/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6664 - acc: 0.5860 - val_loss: 0.6705 - val_acc: 0.5804
Epoch 14/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6665 - acc: 0.5859 - val_loss: 0.6709 - val_acc: 0.5796
Epoch 15/50
644448/644448 [==============================] - 10s 16us/step - loss: 0.6665 - acc: 0.5861 - val_loss: 0.6715 - val_acc: 0.5795
Epoch 16/50
644448/644448 [==============================] - 12s 18us/step - loss: 0.6663 - acc: 0.5864 - val_loss: 0.6716 - val_acc: 0.5778
Epoch 17/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6663 - acc: 0.5869 - val_loss: 0.6719 - val_acc: 0.5796
Epoch 18/50
644448/644448 [==============================] - 10s 16us/step - loss: 0.6663 - acc: 0.5861 - val_loss: 0.6709 - val_acc: 0.5798
Epoch 19/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6664 - acc: 0.5861 - val_loss: 0.6713 - val_acc: 0.5770
Epoch 20/50
644448/644448 [==============================] - 11s 16us/step - loss: 0.6664 - acc: 0.5862 - val_loss: 0.6714 - val_acc: 0.5787
Epoch 21/50
644448/644448 [==============================] - 10s 16us/step - loss: 0.6663 - acc: 0.5860 - val_loss: 0.6709 - val_acc: 0.5792
Epoch 22/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6663 - acc: 0.5860 - val_loss: 0.6716 - val_acc: 0.5793
Epoch 23/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6661 - acc: 0.5865 - val_loss: 0.6709 - val_acc: 0.5794
Epoch 24/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6662 - acc: 0.5862 - val_loss: 0.6724 - val_acc: 0.5798
Epoch 25/50
644448/644448 [==============================] - 13s 19us/step - loss: 0.6663 - acc: 0.5860 - val_loss: 0.6708 - val_acc: 0.5783
Epoch 26/50
644448/644448 [==============================] - 11s 16us/step - loss: 0.6661 - acc: 0.5865 - val_loss: 0.6710 - val_acc: 0.5788
Epoch 27/50
644448/644448 [==============================] - 10s 16us/step - loss: 0.6662 - acc: 0.5865 - val_loss: 0.6711 - val_acc: 0.5777
Epoch 28/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6662 - acc: 0.5866 - val_loss: 0.6718 - val_acc: 0.5762
Epoch 29/50
644448/644448 [==============================] - 12s 18us/step - loss: 0.6662 - acc: 0.5866 - val_loss: 0.6719 - val_acc: 0.5754
Epoch 30/50
644448/644448 [==============================] - 11s 18us/step - loss: 0.6662 - acc: 0.5859 - val_loss: 0.6714 - val_acc: 0.5766
Epoch 31/50
644448/644448 [==============================] - 12s 18us/step - loss: 0.6663 - acc: 0.5864 - val_loss: 0.6715 - val_acc: 0.5774
Epoch 32/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6661 - acc: 0.5859 - val_loss: 0.6715 - val_acc: 0.5789
Epoch 33/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6662 - acc: 0.5861 - val_loss: 0.6711 - val_acc: 0.5786
Epoch 34/50
644448/644448 [==============================] - 12s 18us/step - loss: 0.6664 - acc: 0.5869 - val_loss: 0.6713 - val_acc: 0.5791
Epoch 35/50
644448/644448 [==============================] - 11s 16us/step - loss: 0.6661 - acc: 0.5865 - val_loss: 0.6712 - val_acc: 0.5800
Epoch 36/50
644448/644448 [==============================] - 10s 16us/step - loss: 0.6663 - acc: 0.5858 - val_loss: 0.6717 - val_acc: 0.5783
Epoch 37/50
644448/644448 [==============================] - 11s 18us/step - loss: 0.6662 - acc: 0.5862 - val_loss: 0.6713 - val_acc: 0.5789
Epoch 38/50
644448/644448 [==============================] - 11s 16us/step - loss: 0.6662 - acc: 0.5862 - val_loss: 0.6714 - val_acc: 0.5781
Epoch 39/50
644448/644448 [==============================] - 12s 19us/step - loss: 0.6661 - acc: 0.5863 - val_loss: 0.6720 - val_acc: 0.5792
Epoch 40/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6662 - acc: 0.5861 - val_loss: 0.6708 - val_acc: 0.5787
Epoch 41/50
644448/644448 [==============================] - 11s 18us/step - loss: 0.6662 - acc: 0.5858 - val_loss: 0.6717 - val_acc: 0.5799
Epoch 42/50
644448/644448 [==============================] - 12s 19us/step - loss: 0.6662 - acc: 0.5862 - val_loss: 0.6709 - val_acc: 0.5795
Epoch 43/50
644448/644448 [==============================] - 11s 18us/step - loss: 0.6662 - acc: 0.5866 - val_loss: 0.6718 - val_acc: 0.5790
Epoch 44/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6661 - acc: 0.5864 - val_loss: 0.6718 - val_acc: 0.5770
Epoch 45/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6662 - acc: 0.5862 - val_loss: 0.6718 - val_acc: 0.5778
Epoch 46/50
644448/644448 [==============================] - 10s 16us/step - loss: 0.6663 - acc: 0.5866 - val_loss: 0.6727 - val_acc: 0.5783
Epoch 47/50
644448/644448 [==============================] - 11s 18us/step - loss: 0.6662 - acc: 0.5863 - val_loss: 0.6721 - val_acc: 0.5771
Epoch 48/50
644448/644448 [==============================] - 10s 16us/step - loss: 0.6662 - acc: 0.5867 - val_loss: 0.6717 - val_acc: 0.5776
Epoch 49/50
644448/644448 [==============================] - 12s 18us/step - loss: 0.6663 - acc: 0.5862 - val_loss: 0.6717 - val_acc: 0.5784
Epoch 50/50
644448/644448 [==============================] - 11s 17us/step - loss: 0.6662 - acc: 0.5862 - val_loss: 0.6715 - val_acc: 0.5755

In [131]:
print(model_output.history["acc"])
print(model_output.history["val_acc"])

[0.5781350861527287, 0.584596429812801, 0.5848121182809278, 0.5850836685038979, 0.5856190103778738, 0.5858300436963106, 0.5857912508068921, 0.5860721113262823, 0.5851565991360048, 0.5857741819325882, 0.5858021128188889, 0.5861776279825411, 0.5859634912329508, 0.5859184914812252, 0.5861310765211581, 0.5863731441511298, 0.5869364168995678, 0.5861264213685087, 0.5860612493142855, 0.5862334897492232, 0.5860209047122499, 0.5860348701524405, 0.5864786608103483, 0.5861838348478078, 0.5860410770162273, 0.5865360742837281, 0.5865143502656537, 0.5866291772183326, 0.5865593500144195, 0.5858952157475741, 0.5863824544416306, 0.5859262500620687, 0.5860752147574358, 0.5868960722975322, 0.5865159019782707, 0.5857943542410052, 0.5862303863180697, 0.5861528005333132, 0.5862707309171457, 0.5860581458890514, 0.5858207334028502, 0.5861822831351906, 0.5865950394786039, 0.5864383161994337, 0.586208662294076, 0.5865562465891854, 0.5863033169501765, 0.586678832119748, 0.5861915934227317, 0.586224179452803]
[0.5818388907613812, 0.5821410722794946, 0.5805778640415615, 0.5821062051812508, 0.5828965260747783, 0.5831115398472821, 0.5823095965876733, 0.5815948210736742, 0.578956543973222, 0.5783812368521983, 0.5775618600434677, 0.5779163422089469, 0.5803802838181797, 0.579560907009449, 0.5795202287281644, 0.5778001185481341, 0.5796364523889773, 0.579804976697156, 0.5770446647528504, 0.5786776071872712, 0.579154124196604, 0.5793226485047827, 0.5794446833486361, 0.5798282214293186, 0.5783405585709138, 0.5788403203124092, 0.5776606501551586, 0.576236910310201, 0.5753768552201858, 0.5766030148417615, 0.5774456363826548, 0.5789158656919375, 0.5786311177229461, 0.5791018235492381, 0.5800199904696598, 0.5782824467405074, 0.578875187410653, 0.5780906777001662, 0.579154124196604, 0.5787124742855151, 0.5799386339070908, 0.5794795504468799, 0.5789507327901814, 0.5769981752885253, 0.5777536290838089, 0.5782824467405074, 0.5770562871189316, 0.5775676712265083, 0.5783986704013203, 0.5755163236131612]